doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Only Cats
	body
		h1 Register Your Cat!!
		form(method="post" action="api/cat")
			label(for="name") Cats username 
			input(type="text" name="username" value="" placeholder="nyaan" required )

			label(for="traits1") Traits 1
			input(type="text" name="traits1")

			label(for="traits2") Traits 2
			input(type="text" name="traits2")

			label(for="traits3") Traits 3
			input(type="text" name="traits3")

			button(type="submit") Register